<div class="header">
    <div class="navbar">
        <a class="menu" (click)="navAnimationClass()">
          <i class="fa fa-fw fa-menu"></i>Menu</a>
        <a class="active" href="#">
          <i class="fa fa-fw fa-home"></i> Home</a>
        <a class="produit" (click)="produitAnimationClass()">
          <i class="fa fa-fw fa-produit"></i> Produits</a>
        <a class="menu">
          <i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#">
          <i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a (click)="animationClass()">
          <i class="fa fa-fw fa-user"></i> Login</a>
    </div>
    <p>
        animation : {{ animationState }}....
        navAnimation : {{navAnimationState}}.....
        log view: {{logViewState}}....
        nav view : {{navViewState}}
    </p>
</div>

<button (click)="navAnimationClass()">Menu toggle</button>

<button (click)="animationClass()">Login toggle</button>

<button (click)="produitAnimationClass()">Produits</button>

<div class="container" [ngStyle]="{'position':'relative', 'top':'0px', 'left':'0px', 'width':'100%', 'height':'100vh', 'margin-top':'20px', 'border':'1px solid black', 'padding':'10px'}">

  <!--<div class="row" [ngStyle]="{'margin-top':'20px', 'border':'1px solid red', 'padding':'10px'}">-->

    <div class="col-md-4" [ngClass]="navAnimationState" [ngStyle]="{'position':'absolute', 'top':'0px', 'left':'0px', 'width':'30%', 'height':'100vh', 'background-color': 'lightblue'}">
      <h3>Menu</h3>
      <p>This is the first column.</p>
              <div id="mySidenav" class="sidenav">
            <a href="" class="closebtn" (click)="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
    </div>

    <div class="col-md-4"
        [ngClass]="animationState"
        [ngStyle]="{'position':'absolute', 'top':'0px', 'right':'0px', 'width':'100%', 'height':'100vh', 'background-color':'lightgreen'}">
      <h3 [ngStyle]="{'width':'100%', 'height':'10%', 'margin':'0px', 'text-align':'center'}">Login User</h3>

      <div [ngStyle]="{'width':'49%', 'height':'90%', 'float':'left', 'background-color':'lightgrey'}">
        <!--
        <p [ngStyle]="{'text-align':'center'}">This is the second column.</p>
        -->
        <h3 [ngStyle]="{'display':'inline-block', 'width':'100%', 'text-align':'center', 'margin':'0px', 'color':'gray'}"> Google LogIn </h3>

        <div [ngStyle]="{'width':'100%', 'height':'10%', 'margin':'0px'}">
            <app-google-login [ngStyle]="{'margin-left':'20%'}"></app-google-login>
        </div>

      </div>


      <!--container email login user -->
      <div class="main-login-body" [ngStyle]="{'color':'gray'}"><!--</div> *ngIf="logViewState">-->

          <form (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">

              <div [ngStyle]="{'width':'100%', 'height':'40%', 'margin':'0px', 'margin-top':'10%'}">
                  <label for="username" [ngStyle]="{'display':'inline-block', 'width':'30%', 'text-align':'right', 'margin-right':'10px'}">Username :</label>
                  <input [ngStyle]="{'width':'50%', 'height':'30px'}"
                         [(ngModel)]="formData.username" type="text" id="username" name="username">
              </div>

              <div [ngStyle]="{'width':'100%', 'height':'40%', 'margin':'0px', 'margin-top':'5%'}">
                  <label for="password" [ngStyle]="{'display':'inline-block', 'width':'30%', 'text-align':'right', 'margin-right':'10px'}">Password :</label>
                  <input [ngStyle]="{'width':'50%', 'height':'30px'}"
                          [(ngModel)]="formData.password" type="password" id="password" name="password">
              </div>


              <div [ngStyle]="{'width':'100%', 'height':'40%', 'margin':'0px', 'margin-top':'5%'}">
                  <label for="email" [ngStyle]="{'display':'inline-block', 'width':'30%', 'text-align':'right', 'margin-right':'10px'}">Email :</label>
                  <input [ngStyle]="{'width':'50%', 'height':'30px'}"
                          [(ngModel)]="formData.email" type="email" id="email" name="email" >
              </div>


              <div [ngStyle]="{'width':'100%', 'height':'20%', 'margin-top':'30px'}">
                  <button type="submit"
                  [ngStyle]="{'width':'50%', 'height':'40px', 'margin-left':'25%'}">Login</button>
              </div>

          </form>








<!-- Add this to layout-view.html -->
<div *ngIf="!isLoggedIn">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="formData.email" required>
    <label>Password:</label>
    <input type="password" name="password" [(ngModel)]="formData.password" required>
    <button type="submit">Login</button>
  </form>
  <div *ngIf="loginError">{{ loginError }}</div>
</div>
<div *ngIf="isLoggedIn">
  <p>Welcome, {{ formData.email }}!</p>
  <button (click)="logout()">Logout</button>
</div>





      </div>


<!--
      <div [ngStyle]="{'width':'50%', 'height':'90%', 'float':'right', 'background-color':'yellow'}">

      </div>
    -->
    </div>

    <div class="col-md-4" [ngClass]="produitAnimationState"  [ngStyle]="{'position':'absolute', 'top':'0px', 'right':'0px', 'width':'50%', 'height':'100vh', 'background-color':'lightcoral'}">
      <h3>Produits</h3>
      <p>This is the third column.</p>
    </div>

  <!--</div>-->

  </div>
