<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\path\to\your\script.py" resourceType="Unspecified" />
      <add name="Node.js" path="server.js" verb="*" modules="iisnode" />
      <add name="Go" path="*.go" verb="*" modules="GoModule" scriptProcessor="C:\Go\bin\go.exe|C:\path\to\your\script.go" resourceType="Unspecified" />
      <add name="Java" path="*.jar" verb="*" modules="JavaModule" scriptProcessor="C:\Java\bin\java.exe|C:\path\to\your\app.jar" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url="^server.js" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
